html, body, #document {
	height: 100%;
}

a {
	text-decoration: none;
}

#document {
	position: relative;
	width: 100%;
	z-index: 0;
}

body > #document {
	height: auto;
	min-height: 100%;
}

#header {
	height: 48px;
}

#header, #footer {
	position: relative;
	width: 100%;
}

#title {
	font-size: 200%;
	padding: 6px 30px;
}

#help {
	font-size: 50%;
	margin-left: 6px;
}

#explanation {
	margin-bottom: 30px;
}

#content {
	padding: 30px 30px 60px;
}

#copyright {
	padding: 6px 30px;
}

#body {
	line-height: 2.0;
}

#body a, #body em {
	white-space: nowrap;
}

#footer {
	clear: both;
	height: 30px;
	margin-top: -30px;
}